.btn-equal {
    width: 100%;
    height: 100%;   
}

.btn-outline-danger {
    background-color: #c85000!important;
    color: white!important; 
}

.palabraKonecta {
    font-size: 40px!important;
}


.bg-invento {
    background-color: #6d5afa!important;
}